$green: #52C41A;

.realworldBlog {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
  }
  
.realworldBlogTitle {
  font-size: 18px;
  font-weight: 400;
  margin-left: 22px;
  color: black;
}
  
.signInAndSignUp {
  margin-right: 22px;
}
 
.signIn, .signUp {
  width: 110px;
  height: 51px;
  font-size: 18px;
  font-weight: 400;
}

.signUp {
  border: 1px solid $green;
  border-radius: 5px;
  color: $green;
}

a:visited {
  color: inherit;
}

header {
  width: 100vw;
}

.createArticle {
  border: 1px solid $green;
  border-radius: 5px;
  color: $green;
  width: 113px;
  height: 32px;
}

.logOut {
  width: 109px;
  height: 51px;
  border: 1px solid black;
  border-radius: 5px;
}

.authContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}

.userInfo > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  &:visited {
    color: inherit;
  }
}