.generalContainerCards {
    width: 100vw;
    margin: 26px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
